.banner-image{ padding-top: 75px;    
    padding-bottom: 50px; 
    text-align: center;     
    color: #f8f8f8; 
    background-size: cover;
}

.thumbnail img{
max-height: 150px; 
}
main {
min-height: 100vh;
}


.row_style{
    margin-top: 70px;
   
}
h2{font-weight: bolder; 
}
.jumbotron_style{
    margin-top: 30px;
    height: 400px;
}
.table_style{margin-top: 70px;
}
h4{font-weight: bolder;
}
.container_style{margin-top: 80px;
}


.padding-20 {
padding: 20px;
}
.panel-body{
    border: 1px solid green;
    width: 350px;
    margin: 20px;
}
.panel-body2{
    border: 1px solid red;
    width: 350px;
    margin-left: 18px;
    padding: 10px;
}

footer{
    padding: 10px 0; 
    background-color: #101010; 
    color:#9d9d9d; 
    margin-top: -85px;
    bottom: 0; 
    width: 100%;
 }
 img{
     height: 320px;
     width: 250px;
 }