body {
    background-image: url('d.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
     
  ul {
    
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }
  
   li a:hover:not(.active) {
    background-color:white;
  } 
  
  .active {
    background-color: white;
  }
  